/* CrimeIsDown.com CSS */
/* Version 0.01 */

/* Fonts to include */


/* General element CSS rules */

*, :after, :before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, a:visited {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

/* Class CSS rules */

/* HEADER START */
.header {
  width: 100%;
}

.header#page-header {
  line-height: 50px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #888;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 9999;
}

.header-nav-toggle {
  display: inline-block;
  float: right;
  height: 50px;
  margin-top: -3em;
  margin-right: 1em;
  cursor: pointer;
}

.header-nav-toggle .header-nav-toggle-icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.header-nav {
  display: block;
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 25%;
}

.header-nav a {
  display: block;
  line-height: 50px;
  border: 2px solid #aaa;
  margin-bottom: -2px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.nav-out .site-content {
  -webkit-transform: translate3d(-25%, 0, 0);
  -ms-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}

.nav-out .header-nav {
  background: #111;
}

.nav-out .header-nav a {
  color: #fff;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* HEADER END */

.site-content {
  margin-top: 50px;
}

.section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.section header {
  padding-top: 5em;
  text-align: center;
}

.section header h1, .section header h3 {
  background: #ccc;
}

.section header h1 {
  font-style: italic;
}


/* Section-specific rules */

.section#introduction {
  background: #000;
  color: #fff;
  text-align: center;
}

.section#introduction .section-copy h1 {
  padding-top: 25vh;
}

.section#introduction .section-copy h3 {
  padding-top: 10vh;
}

.section#crime-in-chicago {

}

.section#keeping-informed {

}

.section#information-overload {

}

.section#information-overload h1 span {
  text-decoration: underline;
}

.section#more-signal-less-noise {

}

.section#site-mechanics {

}

.section#storytelling-is-important {

}

.section#whats-next {

}
