// General element CSS rules //

//====BASE====//
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

html, button, input, select, textarea {
    font-family: $font-family-sans-serif;
}

body {
    margin: 0;
    line-height: $line-height;
    background: $body-bg;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
}

//====LINKS====//
a {
    color: $link-color;
    &:visited {
        color: $link-visited;
    }
    &:focus {
        outline: thin dotted;
    }
    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
    }
}

//====TYPOGRAPHY====//
h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-heading;
}
h1 {
    font-size: $font-size-h1;
    margin: 0.67em 0;
}

h2 {
    font-size: $font-size-h2;
    margin: 0.83em 0;
}

h3 {
    font-size: $font-size-h3;
    margin: 1em 0;
}

h4 {
    font-size: $font-size-h4;
    margin: 1.33em 0;
}

h5 {
    font-size: $font-size-h5;
    margin: 1.67em 0;
}

h6 {
    font-size: $font-size-h6;
    margin: 2.33em 0;
}

aside, blockquote {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 0 1em 1em;
    font-size: 0.9em;
    line-height: 1.5;
}

p, pre {
    margin: 1em 0;
}

pre, code {
    font-family: $font-family-monospace;
}

p, section li {
    font-size: $font-size-para;
    font-family: $font-family-serif;
}

small {
    font-size: 0.8rem;
}

//====LISTS====/
menu, ol, ul {
    padding: 0 0 0 2em;
    li {
        padding-bottom: 0.5em;
        p {
            padding: 0 0 0.5em 0;
        }
    }
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

//====IMAGES, FIGURES====//
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
figure {
    margin: 0;
    padding-bottom: 1.5em;
    figcaption {
        padding: 0.75em 0 2em 0;
        font-size: 0.8em;
    }
}
