.col-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

// GRID START //
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1.25em;
}
