.col-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

// GRID START //
// 8 column layout
/*
1/8
1/4
3/8
1/2
5/8
3/4
7/8
1/1
*/
.columns {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    .col-1-1, .col-1, {
        clear: both;
    }

    .col-1-1, .col-1, .col-1-2, .col-1-4, .col-3-4, .col-1-8, .col-3-8, .col-5-8, .col-7-8 {
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
}

@media (min-width: 55em) {
    .columns {
        .col-1-1, .col-1, .col-1-2, .col-1-4, .col-3-4, .col-1-8, .col-3-8, .col-5-8, .col-7-8 {
            padding: 0 1.25em;
        }
        .col-1-2 {
            width: 50%;
        }
        .col-1-4 {
            width: 25%;
        }
        .col-3-4 {
            width: 75%;
        }
        .col-1-8 {
            width: 12.5%;
        }
        .col-3-8 {
            width: 37.5%;
        }
        .col-5-8 {
            width: 62.5%;
        }
        .col-7-8 {
            width: 87.5%;
        }
    }
}

@media (min-width: 95em) {
    body {
        width: 95em;
        margin-left: auto;
        margin-right: auto;
    }
}

// GRID END //

