// HEADER START //
#site-header, #main-menu {
    background: #000;
    a {
        color: #fff;
    }
    ul.pure-menu-children a:hover, li.pure-menu-open a {
        color: #000;
    }
}
// HEADER END //

// FOOTER START //
#site-footer {
    padding-left: 8%;
    padding-right: 8%;
    border-top: 1px solid #ccc;
    background: #222;
    font-size: 0.8em;
    p, a {
        color: #fff;
    }
    & > div:last-child {
        text-align: right;
    }
}
// FOOTER END //

// SITE CONTENT START //
main#main {
    display: block;
    margin: 1em 7% 2em 7%;
}

.section .header { // on home page
    text-align: center;
}
// SITE CONTENT END //

// MISC ELEMENTS START //
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// MISC ELEMENTS END //
