/* Style variables */
// Used https://github.com/twbs/bootstrap/blob/master/less/variables.less as an example.

/* Colors */
$body-bg:       #FFF;
$menu-bg:       #222;
$menu-link:     #FFF;
$text-color:    #000;
$link-color:    #F00;
$link-visited:  darken($link-color, 5);
$heading-color: #000;

/* Typography */
$font-family-sans-serif:  'Montserrat', Helvetica, Arial, sans-serif !default;
$font-family-serif:       'Neuton', Georgia, Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px;

@function em($px, $base: $font-size-base) {
    @return ($px / $base) * 1em;
}

$font-size-small:         em($font-size-base * 0.8);
$font-size-para:          em($font-size-base * 1.4);

$font-size-h1:            em($font-size-base * 2);
$font-size-h2:            em($font-size-base * 1.5);
$font-size-h3:            em($font-size-base * 1.25);
$font-size-h4:            em($font-size-base * 1);
$font-size-h5:            em($font-size-base * 0.83);
$font-size-h6:            em($font-size-base * 0.67);

$font-weight-heading:     700;

$line-height: 1;
