<header id="header">
    getting started with #ChicagoScanner
</header>

<main id="main">
    Use the map below to determine what district, and therefore radio zone, an address/location is in. The colored areas represent polce districts, where all districts in a zone are one color. Enter an address, intersection, or landmark (anything accepted by Google Maps) in the search field below to determine what radio zone you should tune to listen for info on the crime.

    <li>Citywide 1</li>
    <li>Citywide 6</li>
    <li>Zone 1: 460.475MHz - Districts 16, 17</li>
    <li>Zone 2: 460.050MHz - District 19</li>
    <li>Zone 3: 460.225MHz - Districts 12, 14</li>
    <li>Zone 4: 460.150MHz - Districts 1, 18</li>
    <li>Zone 5: 460.500MHz - District 2, CPD HQ</li>
    <li>Zone 6: 460.400MHz - Districts 7, 8</li>
    <li>Zone 7: 460.075MHz - Districts 3</li>
    <li>Zone 8: 460.200MHz - Districts 4, 6</li>
    <li>Zone 9: 460.025MHz - Districts 5, 22</li>
    <li>Zone 10: 460.100MHz - Districts 10, 11</li>
    <li>Zone 11: 460.375MHz - Districts 20, 24</li>
    <li>Zone 12: 460.425MHz - Districts 15, 25</li>
    <li>Zone 13: 460.450MHz - District 9</li>


    UCR code lookup
    (embed)

</main>
