<!-- entire page header -->
<header class="header" id="page-header" role="banner">
  <h3 class="header-logo">
    <a href="."><span>CrimeIsDown</span>.com</a>
  </h3>

  <!--<div class="header-nav-toggle" id="nav-toggle">
    <div class="nav-toggle-icon">
      <span class="screen-reader-text">Menu</span>
    </div>
  </div>-->
</header>
<!-- end entire page header -->

<!-- page navigation -->
<nav class="header-nav" role="navigation">
  <a ng-click="scrollTo('crime-in-chicago')">Crime in Chicago</a>
  <a ng-click="scrollTo('keeping-informed')">Keeping Informed</a>
  <a ng-click="scrollTo('more-signal-less-noise')">Signal vs. Noise</a>
  <a ng-click="scrollTo('contextual-incident-monitoring')">Adding Context</a>
  <a ng-click="scrollTo('whats-next')">What's Next</a>
</nav>
<!-- end page navigation -->

<!-- page content -->
<main class="site-content">

  <!-- "Introduction" section -->
  <section class="section" id="introduction">
    <div class="section-copy">
      <h1>Get smarter about crime. Coming soon.</h1>
      <h3>Welcome to <span>CrimeIsDown</span>.com, the host of a diverse set of data-driven tools which bring clarity to Chicago crime. Scroll down to learn more.</h3>
      <!-- <button>Skip to tools</button> -->
    </div>
  </section>
  <!-- end "Introduction" section -->

  <!-- "Crime in Chicago" section -->
  <section class="section" id="crime-in-chicago">
    <header class="header header-section">
      <h3>Crime in Chicago, via #ChicagoScanner</h3>
      <h1>Curb Crime. Save Chicago.</h1>
    </header>

    <div class="section-copy">
      <!-- talk about why crime in chicago is a problem; use proof of problem, problem framing format -->
      <p>
        Last year in Chicago, a person was shot on average every four hours. Garry McCarthy, the Superintendent of the Chicago Police Department (CPD), had reported to Mayor Rahm Emanuel that 2013 saw 415 murders which was 88 fewer than the previous year (2012 was a particularly violent year), and 1,864 total shootings. Chicago crime is a very complex problem.
      </p>
      <p>
        In the 2010 US Census, Chicago's population dropped by at least 200,000 people, the largest drops coming from areas plagued by violent crime. As the population has dropped, the per-capita homicide rate has risen in many communities on the South and West sides.
      </p>
      <p>
        This terrifying crime epidemic is forcing middle-class families to move away from these areas, towards the safer North side or out to suburbs, further isolating the remaining residents.
      </p>
      <p>
        Losing the middle-class population of Chicago means losing the foundation of Chicago. Something must be done to stop it.
      </p>
      <p>
        Lots of news organizations have enhanced their coverage of crime in Chicago, with dedicated overnight reporters which interview victims, longer video stories, journalists tracking each homicide case from beginning to end, and national media spreading the story. Much of the breaking news is first heard on a police scanner, so it is critical that the facts get reported correctly as much of what is heard is unconfirmed reports.
      </p>
    </div>

    <div class="section-multimedia">
      <figure>
        <img src="http://heyjackass.com/wordpress/wp-content/uploads/2013/03/murder_trend.png" alt="Chicago murder trends from 2009 to 2013" />
        <figcaption>In 2012, HeyJackass.com counted 514 murders.</figcaption>
      </figure>
    </div>
  </section>
  <!-- end "Crime in Chicago" section -->

  <!-- "Keeping Informed" section -->
  <section class="section" id="keeping-informed">
    <header class="header header-section">
      <h3>Keeping Informed with CrimeIsDown.com</h3>
      <h1>"Jesus Christ, 10-4."</h1>
    </header>

    <div class="section-multimedia">
      <!-- audio clips from police scanner -->
      <!-- tweets -->
      <!-- links to trib, suntimes articles -->
      <figure>
        <img src="images/cfd-washdown.jpg" alt="A Chicago Fire Department engine washes down blood from the shooting.">
        <figcaption>After the shooting on the basketball court in Cornell Square Park, CFD Engine 123 washes down the court, stained by blood.</figcaption>
      </figure>
    </div>

    <div class="section-copy">
      <!-- explain the various ways currently one can hear about crime in chicago -->
      <p>
        In the heat of the moment, it is not easy to piece together the facts. There is lots of yelling, addresses being thrown out so officers can respond, and clicking noises from radios. For a new crime reporter, piecing together the situation after a shooting or other violent event can be confusing and time-consuming. This prevents journalists from doing what they do best: tell stories and informing the public to hold officials accountable.
      </p>
      <p>
        To help bring clarity to the facts and save time for anyone following Chicago crime, we created "CrimeIsDown.com", a set of data-driven tools to take out the confusion from listening to the police scanner. Normally, if an incident is occurring, the first news may come from social media such as Twitter, with an included address. CrimeIsDown.com's tools help you follow that incident from beginning to end. Some of the tools we have include an address-to-radio-zone mapper, as well as a large database of police and fire unit numbers pulled from various sources.
      </p>
    </div>

  </section>
  <!-- end "Keeping Informed" section -->

  <!-- "More Signal, Less Noise" section -->
  <section class="section" id="more-signal-less-noise">
    <header class="header header-section">
      <h3>More Signal, Less Noise</h3>
      <h1>CrimeIsDown.com brings clarity.</h1>
    </header>

    <div class="section-copy">
      <!-- frame the problem of it being hard to get facts straight, which leads to confusion - individual stories arent getting told -->
      <!-- specific terminology used by depts -->
      <!-- explain that CPD numbers aren't always accurate -->
      <p>
        With these tools, anyone following the story can better understand the situation and be more knowledgeable about the facts while saving time. No longer are you looking up IDs in a 20-page document or referencing outdated maps. Creating convenient tools and storing them in a central place will save time for any reader/listener interested in crime.
      </p>
      <!-- bulleted list -->
    </div>

    <div class="section-multimedia">
      <!-- supporting statistics, images, etc to support above claims -->
      <!-- e.g. map showing crime across city, search results, maybe an audio clip -->
      &nbsp;
    </div>
  </section>
  <!-- end "More Signal, Less Noise" section -->

  <!-- "Adding Context to Real-Time Incidents" section -->
  <section class="section" id="contextual-incident-monitoring">
    <header class="header header-section">
      <h3>Adding Context to Real-Time Incidents</h3>
      <h1>Monitor breaking news with ease.</h1>
    </header>

    <div class="section-multimedia">
      <!-- show improvement in data gathering, time saved with tools -->
      &nbsp;
    </div>

    <div class="section-copy">
      <!-- explain the solution to the problem, talk about zone map and other tools to make following the stories easier -->
      <p>
        Currently, sites like SpotCrime and EveryBlock show crimes that have happened most recently as a day ago, with only some context. Services like Broadcastify let citizens observe a real-time event, but without context. CrimeIsDown.com focuses on real-time incidents and provides contextual information, thus making the user even more aware and knowledgeable.
      </p>
      <!-- see PANDA "panda makes data journalism easier" -->
    </div>

  </section>
  <!-- end "Adding Context to Real-Time Incidents" section -->

  <!-- "What's Next" section -->
  <section class="section" id="whats-next">
    <header class="header header-section">
      <h3>What's Next</h3>
      <h1>We're just getting started.</h1>
    </header>

    <div class="section-copy">
      <!-- explain what goals of project are, where we want to go -->
      <!-- how you can help -->
      <p>
        Journalists are known for telling great stories that deserve to be heard, and often are first to hold public officials accountable. CrimeIsDown.com lets those storytellers focus on the issue itself, rather than getting bogged down in the often-murky details of each incident. These tools are one small step towards making the phrase "Crime Is Down" a reality.
      </p>
      <!-- see "ready for panda" -->
    </div>

    <div class="section-multimedia">
      <!-- subscribe to email list -->
      <p>
        Subscribe to our email list!
      </p>
    </div>
  </section>
  <!-- end "What's Next" section -->

</main>
<!-- end page content -->

<footer class="footer">
  <!-- created by... -->
  <!-- share links -->
  <!-- contributors/sources -->
  <h1>Credits</h1>
</footer>
