<!-- entire page header -->
<header class="header" id="page-header" role="banner">
  <h3 class="header-logo">
    <a href="."><span>CrimeIsDown</span>.com</a>
  </h3>

  <!--<div class="header-nav-toggle" id="nav-toggle">
    <div class="nav-toggle-icon">
      <span class="screen-reader-text">Menu</span>
    </div>
  </div>-->
</header>
<!-- end entire page header -->

<!-- page navigation -->
<nav class="header-nav" role="navigation">
  <a href="#crime-in-chicago" data-scroll>Crime in Chicago</a>
  <a href="#keeping-informed" data-scroll>Keeping Informed</a>
  <a href="#information-overload" data-scroll>Information Overload</a>
  <a href="#more-signal-less-noise" data-scroll>More Signal, Less Noise</a>
  <a href="#site-mechanics" data-scroll>Site Mechanics</a>
  <a href="#storytelling-is-important" data-scroll>Storytelling is Important</a>
  <a href="#whats-next" data-scroll>What's Next</a>
</nav>
<!-- end page navigation -->

<!-- page content -->
<main class="site-content">

  <!-- Introduction section -->
  <section class="section" id="introduction">
    <div class="section-copy">
      <h1>Get smarter about crime.</h1>
      <h3>Welcome to <span>CrimeIsDown</span>.com, the host of a diverse set of data-driven tools which bring clarity to Chicago crime.</h3>
      <!-- <button>Skip to tools</button> -->
    </div>
  </section>
  <!-- end Introduction section -->

  <!-- Crime in Chicago section -->
  <section class="section" id="crime-in-chicago">
    <header class="header header-section">
      <h3>Crime in Chicago</h3>
      <h1>Curb Crime. Save Chicago.</h1>
    </header>

    <div class="section-copy">
      <!--
        talk about why crime in chicago is a problem
        use proof of problem, problem framing format
      -->
      <p>
        At the beginning of 2014, Rahm Emanuel, the Mayor of the City of Chicago, had good news for his constituents. Homicides were down, as well as overall crime. Garry McCarthy, the Superintendent of the Chicago Police Department (CPD), had reported to the mayor that 2013 saw 415 murders which was 88 fewer than the previous year (2012 was a particularly violent year). Yet, the city saw over 1,500 gunshot victims, many of them in impoverished communities.
      </p>
      <p>
        In the 2010 US Census, Chicago's population dropped by at least 200,000 people, the largest drops coming from areas plagued by violent crime. As the population has dropped, the per-capita homicide rate has risen. The decrease in homicides reported by CPD has been offset by increased concentrations of violence in areas on the South, West, and Southwest sides of the city.
      </p>
      <p>
        This terrifying crime epidemic is forcing middle-class families to move away from these areas, towards the safer North side or out to suburbs. The exodus has left large gaps between safe and dangerous areas, further isolating communities.
      </p>
      <p>
        Losing the population of Chicago means losing Chicago. Something must be done to stop it.
      </p>
    </div>

    <div class="section-multimedia">
      <figure>
        <img src="http://heyjackass.com/wordpress/wp-content/uploads/2013/03/murder_trend.png" alt="Chicago murder trends from 2009 to 2013" />
        <figcaption>In 2012, HeyJackass.com counted 514 murders.</figcaption>
      </figure>
    </div>
  </section>
  <!-- end Crime in Chicago section -->

  <!-- Keeping Informed section -->
  <section class="section" id="keeping-informed">
    <header class="header header-section">
      <h3>Keeping Informed</h3>
      <h1>"Jesus Christ, 10-4."</h1>
    </header>

    <div class="section-multimedia">
      <!-- audio clips from police scanner -->
      <!-- tweets -->
      <!-- links to trib, suntimes articles -->
      <figure>
        <img src="images/cfd-washdown.jpg" alt="A Chicago Fire Department engine washes down blood from the shooting.">
        <figcaption>After the shooting on the basketball court in Cornell Square Park, CFD Engine 123 washes down the court, stained by blood.</figcaption>
      </figure>
    </div>

    <div class="section-copy">
      <!-- explain the various ways currently one can hear about crime in chicago -->
      <p>
        <em>"Jesus Christ, 10-4."</em> the dispatcher said, in response to hearing the latest report that 10 adults and a three year-old were shot in Cornell Square Park. On September 19th, 2013 at about 10pm, a total of 13 people were shot on the basketball court in the park after two men armed with an assault rifle and a .22-caliber handgun fired indiscriminately into the crowd on the court. The next morning, national news converged on Chicago, with headlines such as <a href="http://www.huffingtonpost.com/2013/09/20/chicago-park-shooting_n_3959062.html">"CHICAGO CARNAGE: 13 SHOT ON BASKETBALL COURT"</a>. Some referred to Chicago as <a href="http://www.thedailybeast.com/articles/2014/04/22/how-chicago-became-chiraq.html" target="_blank">"Chiraq"</a> due to the amount of gun violence going on in the city, but soon the national media had left and local media were left to deal with the aftermath.
      </p>
      <p>
        For many Chicagoans...
      </p>
    </div>

  </section>
  <!-- end Keeping Informed section -->

  <!-- Information Overload section -->
  <section class="section" id="information-overload">
    <header class="header header-section">
      <h3>Information Overload</h3>
      <h1>Crime <span>is</span> down, right?</h1>
    </header>

    <div class="section-copy">
      <!-- frame the problem of it being hard to get facts straight, which leads to confusion - individual stories arent getting told -->
      <!-- specific terminology used by depts -->
      <!-- explain that CPD numbers aren't always accurate -->
      <p>
        One shot. Two shot. Three shot. The numbers keep going up, and so do the tweets.
      </p>
      <p>
        When
    </div>

    <div class="section-multimedia">
      <!-- supporting statistics, images, etc to support above claims -->
      <!-- e.g. map showing crime across city, search results, maybe an audio clip -->
      &nbsp;
    </div>
  </section>
  <!-- end Information Overload section -->

  <!-- More Signal, Less Noise section -->
  <section class="section" id="more-signal-less-noise">
    <header class="header header-section">
      <h3>More Signal, Less Noise</h3>
      <h1>CrimeIsDown.com brings clarity.</h1>
    </header>

    <div class="section-multimedia">
      <!-- show improvement in data gathering, time saved with tools -->
      &nbsp;
    </div>

    <div class="section-copy">
      <!-- explain the solution to the problem, talk about zone map and other tools to make following the stories easier -->
      <p>
        Kielbasa chicken boudin pastrami tail. Pork loin ham hock drumstick, shoulder sausage chicken flank tri-tip turkey. Shank bresaola leberkas, ground round tongue shankle hamburger biltong short loin beef ribs boudin andouille ball tip. Turkey tail spare ribs, capicola brisket sirloin tri-tip strip steak. Cow kielbasa meatloaf, bacon meatball pig ground round beef filet mignon porchetta. Tenderloin beef ribs hamburger ham, swine sirloin filet mignon short loin ham hock.
      </p>
    </div>

  </section>
  <!-- end More Signal, Less Noise section -->

  <!-- Site Mechanics section -->
  <section class="section" id="site-mechanics">
    <header class="header header-section">
      <h3>Site Mechanics</h3>
      <h1>How does it work?</h1>
    </header>

    <div class="section-copy">
      <!-- talk about different features, how site will work -->
      <p>
        Pork belly sirloin leberkas bresaola turducken turkey, drumstick ball tip beef. Fatback strip steak ham hock kielbasa frankfurter pork loin. Pig prosciutto spare ribs, shoulder hamburger doner leberkas chuck tri-tip ball tip sirloin beef ribs ribeye tenderloin pork belly. Bresaola pork belly spare ribs, pig boudin pastrami turducken venison shoulder jerky andouille chicken. Pig jowl strip steak bresaola boudin corned beef brisket leberkas hamburger pork chop t-bone chicken ground round pork turkey.
      </p>
    </div>

    <div class="section-multimedia">
      <!-- screenshot of zone map -->
      <!-- virtual scanner? embedded audio streams from broadcastify -->
      <!-- twitter lists -->
      &nbsp;
    </div>
  </section>
  <!-- end Site Mechanics section -->

  <!-- Storytelling is Important section -->
  <section class="section" id="storytelling-is-important">
    <header class="header header-section">
      <h3>Storytelling is Important</h3>
      <h1>Focus on telling great stories.</h1>
    </header>

    <div class="section-multimedia">
      <!-- showcase great storytelling for crime -->
      &nbsp;
    </div>

    <div class="section-copy">
      <!-- explain impact of the solution: ppl can focus on storytelling and not looking up IDs -->
      <p>
        Short loin shankle pork belly, tenderloin andouille beef bacon beef ribs fatback drumstick shoulder pork hamburger rump. Turkey porchetta beef sausage. Drumstick tenderloin turducken, strip steak beef capicola venison filet mignon chuck flank. Andouille swine pig shankle sirloin ham hock. Drumstick strip steak boudin prosciutto filet mignon short ribs biltong meatball, pork chop ground round.
      </p>
    </div>


  </section>
  <!-- end Storytelling is Important section -->

  <!-- What's Next section -->
  <section class="section" id="whats-next">
    <header class="header header-section">
      <h3>What's Next</h3>
      <h1>We're just getting started.</h1>
    </header>

    <div class="section-copy">
      <!-- explain what goals of project are, where we want to go -->
      <!-- how you can help -->
      <p>
        Doner spare ribs landjaeger meatloaf, shank jowl pork belly tail boudin cow pastrami ham hock venison. Ham prosciutto tenderloin, sausage pancetta hamburger frankfurter. Pancetta leberkas pastrami ground round bacon bresaola pork belly shoulder pork chop filet mignon salami brisket tenderloin. Pork belly jerky salami spare ribs doner fatback kielbasa. Fatback t-bone chicken short loin kielbasa pork chop. Drumstick tenderloin capicola, ground round ham tail ham hock chicken beef. Salami shankle pancetta, shoulder landjaeger leberkas meatball kielbasa short loin ribeye.
      </p>
    </div>

    <div class="section-multimedia">
      <!-- subscribe to email list -->
    </div>
  </section>
  <!-- end What's Next section -->

</main>
<!-- end page content -->

<footer class="footer">
  <!-- created by... -->
  <!-- share links -->
  <!-- contributors/sources -->
  <h1>Credits</h1>
</footer>
