<ng-include src="'partials/menu.html'"></ng-include>

Radio zone lookup (zone map)

<h2>Address to CPD Radio Zone Lookup</h2>
<p>Use the map below to determine what district, and therefore radio zone, an address/location is in. The colored areas represent polce districts, where all districts in a zone are one color. Enter an address, intersection, or landmark (anything accepted by Google Maps) in the search field below to determine what radio zone you should tune to listen for info on the crime.</p>

<div class="col-md-6">
  <form action="#" onsubmit="showAddress(this.address.value); return false">
    <p>
      <input type="text" size="50" name="address" placeholder="63rd and Halsted, Chicago" style="width: 87%" />
      <input type="submit" value="Search" />
    </p>
    <div id="map_canvas"></div>
  </form>
</div>
<div class="col-md-6">
  <p><strong>CPD Radio Dispatch Zones</strong></p>
  <ol id="map-key">
    <li>460.475MHz - Districts 16, 17</li>
    <li>460.050MHz - District 19</li>
    <li>460.225MHz - Districts 12, 14</li>
    <li>460.150MHz - Districts 1, 18</li>
    <li>460.500MHz - District 2, CPD HQ</li>
    <li>460.400MHz - Districts 7, 8</li>
    <li>460.075MHz - Districts 3</li>
    <li>460.200MHz - Districts 4, 6</li>
    <li>460.025MHz - Districts 5, 22</li>
    <li>460.100MHz - Districts 10, 11</li>
    <li>460.375MHz - Districts 20, 24</li>
    <li>460.425MHz - Districts 15, 25</li>
    <li>460.450MHz - District 9</li>
  </ol>
</div>
