<!-- page navigation -->
<nav class="header-nav" role="navigation">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">How Police Scanners Work</a></li>
    <li><a href="#">Getting Started with #ChicagoScanner</a></li>
    <li>
      <a href="#">Tools and Resources</a>
      <ul>
        <li><a href="#">Maps</a></li>
        <li><a href="#">Radio ID list</a></li>
        <li><a href="#">Live Audio Streams</a></li>
        <li><a href="#">Social Media Updates</a></li>
        <li><a href="#">More Info</a></li>
      </ul>
    </li>
    <li><a href="#">Contact and Donate</a></li>
  </ul>
</nav>
<!-- end page navigation -->
