/ @@master = templates/index.tpl.html
/ @@block = pagetitle
%title Scanner Ethics - CrimeIsDown.com
/ @@close
/ @@block = content
#scanner-ethics.row
  .col-md-12
    %h1#crimeisdown-code-of-ethics CrimeIsDown.com Code of Ethics
    %p Welcome to the Chicago scanner community! We've prepared these set of steps for you to get started.

    %h2 Coming Soon

    /
      %p
        %strong Do not report a possible crime in a way that might identify an individual unless a description is necessary to help identify a fleeing suspect.
        %br/
        Discussion: To report a group of people
        %a{:href => "http://thebatavian.com/search/node/fight%20%22austin%20park%22", :target => "_blank"} fighting in Austin Park
        will not reveal any identifying information about people involved. If a person is injured in the fight and a fleeing suspect description is given, publicizing the description might help police locate or identify that individual. In some cases, the name might be transmitted. We never use names transmitted over the scanner.
      %p
        %strong>
          Do not report information that will jeopardize officer safety or thwart their ability to apprehend a suspect.
          %br/
        Discussion: If a tan sedan is fleeing down Warboys Road, you want people in the area to be on the lookout for a tan sedan, but you don't want to give away the position or pursuit tactics of law enforcement (on the off chance a suspect is carrying a smartphone and knows to check
        %em The Batavian
        for updates).
      %p
        When
        %a{:href => "http://thebatavian.com/blogs/billie-owens/police-scour-city-wanted-man/14386", :target => "_blank"} we had an incident a couple of years ago
        where a warrant suspect high tailed it in the city and officers from multiple agencies were called along with a K-9 unit and a helicopter, people wanted to know what's going on.  We reported the location of the suspect, but we didn't report the location of responding units or the nature of the response.
      %p
        When a neighbor spotted
        %a{:href => "http://thebatavian.com/billie-owens/law-enforcement-scours-pavilion-burglary-suspects/38167", :target => "_blank"} two men going to into a house on Shepard Road
        and State Police thought the two men might still be inside when they arrived on scene, we waited hours to report anything (with the massive police action, if it had been in a more densely populated area, we wouldn't have waited).   We didn't provide details on the police response.  By the time we reported anything, we figured if they were still inside they had to be well aware of the dozens of police vehicles outside the house (
        %a{:href => "http://thebatavian.com/howard-owens/quick-state-police-response-thwarts-burglary-pavilion-suspects-slip-out-dragnet-place/3", :target => "_blank"}> full follow up report here
        ).
        %br/
        %strong
          %br/
          Maintain a level of skepticism about information provided by dispatchers to first responders.
        %br/
        Discussion: In the initial minutes of any call, the only information a dispatcher has is what is provided by a caller about an event. Witnesses may misunderstand or be emotionally involved in a way that causes them to relay incorrect information. Further, the nature of communication is such that dispatchers may misunderstand or not correctly repeat information given to them. Sometimes the dispatcher informing first responders is not the dispatcher who spoke with the initial caller. This isn't to say never report what the dispatcher says, but the more specific and sensational the information coming from the dispatcher, the healthier a reporter's skepticism should be.
      %p
        %strong Basic dispatch information is generally safe.
        %br/
        Discussion: "Possible structure fire; callers report heavy smoke from a basement window of a residence on
        = succeed ",\"" do
          %a{:href => "http://thebatavian.com/billie-owens/possible-structure-fire-33-ross-st-city/36887", :target => "_blank"} Ross Street
      %p
        %strong It's generally safe to trust the statements of first responders.
        %br/
        Discussion: The transmissions from a scene are by people who are there and reporting what they're seeing and hearing. They are rarely wrong.
      %p
        %strong Never give details of medical condition of victims.
        %br/
        Discussion: Nobody needs to know the pulse rate of an accident victim. We had an accident victim recently where a medic reported the victim was not breathing on his own and bleeding from his mouth and ears. Those are unnecessary details that will upset family members. We confine a report in such a situation to "victim is unconscious." We can convey a lot of the seriousness of the situation by reporting that
        = succeed "." do
          %a{:href => "http://thebatavian.com/howard-owens/atv-accident-reported-village-corfu/38781", :target => "_blank"} Mercy Flight is responding
      %p
        %strong Never use names off the scanner.
        %br/
        Discussion: I mentioned this earlier, but it's true whether it's a medical situation or a criminal situation, never use names. In medical situations, we want to give officials as much opportunity as possible to make proper family notifications. For that reason, we also never use vehicle descriptions. In criminal situations, you don't want to risk misidentifying a suspect. We don't want to use the name of a suspect until it's released in person, on scene, by a police supervisor or through an official release. (Above, I link to a search in the city and in that story, you'll see we name the suspect; that name was confirmed in person with a on-scene supervisor.)
      %p
        %strong Never report a fatality off the scanner.
        %br/
        Discussion: Verify it in person, on scene. This can be difficult, because situations where Mercy Flight is cancelled and the Crash Management Team dispatched (a sign the victim is dead or first responders believe the victim could likely die) are indications of a fatality and significant events in the course of the incident.
      %p
        %strong Never make assumptions.
        %br/
        Discussion: This is one of the hardest rules to learn because your mind wants to connect dots, and sometimes, in reality, there's no connection. I wish off the top of my head, I could remember some of our mistakes we made in the early days of
        %em The Batavian
        by making assumptions, but we learned quickly any time we make an assumption, we're usually wrong. It's important to discipline yourself to stick just to the data transmitted and not go beyond it with information not specifically contained in a transmission.
      %p There was an incident not long ago where I broke the rule on not being more skeptical about what dispatchers were transmitting and I made an assumption. A woman fell on a baby at a local business and the baby was unconscious and not breathing. CPR was being performed. It was a location where twice in the previous week police had been called to investigate either harassment allegations or an alleged violation of an order of protection. The dispatchers reported the woman had been assaulted. I reported all of this. It turned out, there was no crime. The woman fainted from a medical condition. That isn't one of my proudest moments.
      %p
        %strong It's good to be fast; it's also good to wait.
        %br/
        Discussion: There are times when it's obvious a call coming over the scanner is something that's real and worth reporting. Multiple calls on a head-on collision reporting possible serious injury is a good indication the information is accurate.
      %p There are also times when it's best to wait for a first responder to get on scene.  We never report "automatic alarm of fire."  There's never been an actual fire. Someday, there will be, but so far an "automatic alarm of fire" has never turned out to be anything other than a false alarm.  More than once we've heard fire departments being sent out based on one caller reporting smoke in the area and it's turned out to be a legal controlled burn (we report illegal controlled burns in April and May).
      %p Being fast helps grow and retain readership, but when the information seems sketchy, it's better to wait and see if the information in the initial dispatch is true (and the more you listen to the scanner, the better you are at recognizing sketchy calls).
      %p
        %strong We do not report non-accident, non-crime medical calls.
        %br/
        There are two issues with medical calls. First is privacy. If somebody on Morton Avenue is having stomach pains, who's business is it? Not mine.  While accidents and crimes are public issues that have broader implications, that can't be said for medical calls. The second reason is also a practical matter. On a routine day, there are a couple of dozen medical calls on the scanner. Who can keep up?
      %p There is a triage sort of process on deciding what to report. Broadly defined, there are four types of calls on the scanner: Crime, fire, accident, medical (including overdoses and mental health).  While not every crime, fire or accident in our coverage area will result in follow up coverage, any initial call of a crime, fire or accident could blossom into a bigger story.  We believe in starting with the initial report, as a general rule, and it doesn't become something that warrants a follow up, at least people know what the initial call was about.  We've had calls that started out sounding like not much turn into big deals and we were glad we captured those initial details.
      %p Triage for crime: If weapons are involved, we're more likely to report it. If a suspect is on the loose and being pursued, we're more likely to report it. If there is a large law enforcement response, we're more likely to report it. If it involves a high-speed chase, we're more likely to report it.  If it involves a large group of people in a populated area, we're more likely to report it.
      %p Triage for fires: There needs to be a clear indication that it is a working structure fire to really get our attention.  An automatic alarm of fire or smell of smoke in the residence might encourage us to listen for what the first responding chief finds, but will not be reported until there is confirmation of a working structure fire.  Field fires only get reported during the n0-burn season in April and May, unless a first responder reports its out of control or threatening a structure.
      %p Triage on accidents: Obviously, any accident that initial reports indicate could be a fatal will get an initial scanner report (without mentioning the fatality until we're on scene) and then I'll go to the accident. If Mercy Flight is responding or it is otherwise reported as serious injury, we report it.  If it's minor injury, but blocking well traveled road, we report it.  If it's in the city and blocking, whether injury or not, we report it.  If it's in the city, not blocking and non-injury (property damage only), we ignore it.
      %p Public suicides and public mental health issues are always tricky.  They can necessitate a substantial law enforcement and fire response, which makes them a public issue.  There are few clear-cut guidelines on these calls because each one can be so different.
      %p
        %strong The trivial can be entertaining
        %br/
        Discussion: Unlike a newspaper or a broadcast outlet, we have an unlimited news hole.  We report items off the scanner sometimes just purely for their interesting or entertainment value.  Once in a while, a post on our Facebook feed will result in a poster asking, "why is this news?"  My standard response is, "we never ask, is this news?" The word "newsworthy" is not part of our vocabulary.  We ask, is it interesting?  If it's interesting and we have time to post it, we post it.

/ @@close
