/ @@master = templates/index.tpl.html
/ @@block = pagetitle
%title Scanner Ethics - CrimeIsDown.com
/ @@close
/ @@block = content
#scanner-ethics.row
  .col-md-12
    %h1#crimeisdown-code-of-ethics CrimeIsDown.com Code of Ethics
    %p
      Welcome to the Chicago scanner community! We've prepared these set of steps for you to get started. This code of ethics is inspired by Howard Owens's
      %a{:href => "http://howardowens.com/2013/09/23/the-batavians-basic-rules-for-scanner-reporting/", :target => "_blank"} "The Batavian’s basic rules for scanner reporting"
      and the
      %strong
        %a{:href => "http://www.spj.org/ethicscode.asp", :target => "_blank"} Society of Professional Journalists' Code of Ethics
      which applies to any kind of reporting. This code is meant to be an extension of that code of ethics, specifically targeted at the nuances of sharing what we hear on the police scanner. Note that this is merely a guide, not a set of rules which must be followed every single time. Take this code in full and know that CrimeIsDown.com encourages anyone tweeting out what they hear on the scanner to do so ethically by following this code.

    %h3#report-the-truth Report the truth
    %p Scanner reporting is often controversial and can be quite inaccurate at times. We seek to provide truth and clarity on situations, not muddy them further. There are some basic guides one can follow to help do this:
    %ul
      %li
        %strong Keep in mind this is preliminary information and is an incomplete picture of what is actually happening.
      %li
        %strong Do provide in-progress and accurate information about newsworthy emergency situations.
      %li
        %strong Don't take anything heard on the scanner as official information.
      %li
        %strong Feel free to talk with or alert your followers, ensuring they are aware what is being reported comes from a scanner, thus is not to be taken as official or fact.
      %li
        %strong Let the police inform the public about how to react to a dangerous situation. If giving personal advice, ensure it is distanced from any official response by the authorities.

    %h3#minimize-harm Minimize harm
    %p What gets broadcast on the scanner is often sensitive and sometimes even confidential in nature, thus listeners must exercise good judgement when reporting on what they hear. What should one consider if they are going to have good judgement?
    %ul
      %li
        %strong Don't broadcast exact police movements/locations in a sensitive situation.
      %li
        %strong Basic dispatch information is generally safe.
      %li
        %strong Don't encourage people to flock to the scene.
      %li
        %strong Be sensitive to potential victims. Do not report names heard on the scanner, unless a law enforcement agency releases names publicly to aid in capture.
      %li
        %strong Do not report a possible crime in a way that might identify an individual unless a description is necessary to help identify a fleeing suspect.

    %h3#be-accountable Be accountable
    %p As a reporter of breaking news, information can come from multiple sources and can be frequently changing. Ethical scanner reporters must take responsibility for their work and ensure it is as ethically sound as possible.
    %ul
      %li
        %strong Avoid making assumptions whenever possible.
      %li
        %strong Always credit your sources.
      %li
        %strong It's good to be fast; it's also good to wait.
      %li
        %strong Draw conclusions about crimes, criminals, and situations at your own risk.
      %li
        %strong "Acknowledge mistakes and correct them promptly and prominently. Explain corrections and clarifications carefully and clearly."

/ @@close
