/ @@master = templates/index.tpl.html
/ @@block = pagetitle
%title Social Media Dashboard - CrimeIsDown.com
/ @@close
/ @@block = content
#social-media.columns
  .col-7-8.col-center
    %h1#social-media-dashboard Social Media Dashboard
    %a.twitter-timeline{"data-dnt" => "true", "data-widget-id" => "521039582192611328", :href => "https://twitter.com/EricTendian/lists/crimeisdown"} Tweets from https://twitter.com/EricTendian/lists/crimeisdown
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
/ @@close
