<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>CrimeIsDown.com</title>
        <!-- @@placeholder = pagetitle -->
        <meta name="description" content="Taking the confusion out of monitoring Chicago crime with data-driven tools.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon, touch icon -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <!-- Social media meta tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@EricTendian">
        <meta name="twitter:title" content="CrimeIsDown.com">
        <meta name="twitter:description" content="Taking the confusion out of monitoring Chicago crime with data-driven tools.">
        <meta name="twitter:creator" content="@EricTendian">
        <meta name="twitter:image:src" content="">
        <meta property="og:title" content="CrimeIsDown.com">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://crimeisdown.com/">
        <meta property="og:image" content="">
        <meta property="og:description" content="Taking the confusion out of monitoring Chicago crime with data-driven tools.">

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
        <!--<![endif]-->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header id="site-header" class="pure-g">
            <div class="pure-u-1">
                <nav id="main-menu" class="pure-menu pure-menu-open pure-menu-horizontal">
                    <a href="index.html" class="pure-menu-heading">CrimeIsDown.com</a>

                    <ul id="main-menu-items">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-police-scanners.html">Scanning 101</a></li>
                        <li><a href="getting-started.html">Getting Started</a></li>
                        <li class="dropdown-menu">
                            <a href="#"><strong>Tools</strong></a>
                            <ul>
                                <li><a href="maps.html">Maps, with Zone Lookup</a></li>
                                <li><a href="radioids.html">Radio ID lookup</a></li>
                                <li><a href="onlinestreams.html">Online Streams</a></li>
                                <li><a href="socialmedia.html">Social Media Dashboard</a></li>
                            </ul>
                        </li>
                        <li><a href="take-action.html">Take Action</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main id="main">
            <!-- @@placeholder = content -->
        </main>

        <footer id="site-footer" class="pure-g">
            <div class="pure-u-3-8">
                <p>
                    Copyright &copy; 2014 CrimeIsDown.com. All Rights Reserved.
                </p>
            </div>
            <div class="pure-u-5-8">
                <p>
                    <a href="about.html">About CrimeIsDown.com</a> | Created by <a href="mailto:eric@crimeisdown.com">Eric Tendian</a> | <a href="https://twitter.com/EricTendian">Follow on Twitter</a> | <a href="https://www.facebook.com/Tendian.io">Like on Facebook</a>
                </p>
            </div>
        </footer>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create', 'UA-30674963-11', 'auto');ga('require', 'displayfeatures');ga('send', 'pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
